{% load static %}
{% load markdownify %}
<!DOCTYPE html>

<html lang="en">

    <head>
        <title>{% block PageTitle %}ProTrack{% endblock PageTitle %}</title>
        <link rel="stylesheet" href="{% static 'css/project.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'show_my_tasks' %}">My tasks</a>
                        </li>
                        <li>
                            <a href="{% url 'list_projects' %}">My projects</a>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Signup</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block ProjectsList %}
        {% endblock ProjectsList %}
        {% block Login %}
        {% endblock Login %}
        {% block signup %}
        {% endblock signup %}
        {% block DetailView %}
        {% endblock DetailView %}
        {% block CreateProject %}
        {% endblock CreateProject %}
        {% block CreateTask %}
        {% endblock CreateTask %}
        {% block MyTasks %}
        {% endblock MyTasks %}
    </body>
</html>