{% extends '../base.html' %}

{% block MyTasks %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            {% if task_list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for item in task_list %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.due_date }}</td>
                            <td>
                                {% if item.is_completed %}
                                    <td>Done</td>
                                {% else %}
                                    <form method="post" action="{% url 'complete_task' item.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
            {% elif not task_list %}
                <p>You have no tasks</p>
            {% endif %}
        </table>
    </div>
    </main>
{% endblock MyTasks %}