{% extends '../base.html' %}
{% load markdownify %}

{% block DetailView %}
    <main>
        <div class="project-detail">
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.description|markdownify }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Creat a new task</a>
            </p>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
                {% for task in show_project.tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                        <td>
                            {% if task.is_completed == True %}
                                <td>Yes </td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <p>This project has no tasks</p>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock DetailView %}
