{% extends 'base.html' %}

{% block ProjectsList %}
    <main>
        <div class="project-list"> {% comment "probably a better way" %}{% endcomment %}
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            {% if not list_projects %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>  Number of tasks</th>
                    </thead>
                    <tbody>
                        {% for each in list_projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' each.id %}">{{ each }}</a>
                                </td>
                                <td>
                                    {{ each.tasks.all| length }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock ProjectsList %}